{% extends "base.html" %}
{% block title %}Shortpy{% endblock %}
{% block nav %}{% include 'nav.html' %}{% endblock %}
{% block page_content %}

<section class="container-fluid text-left py-1 mt-1" id="contact">
<div>
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.url, class='form-control', placeholder='Enter URL') }}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</section>
        <div class="col-md-4" style="float: right;">
        <a href="{{ url_for('static', filename='logo.png') }}" target="_blank">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="Nature">
        </a>
    </div>

{% endblock %}